---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const allPosts = await Astro.glob("../posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
