---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

ing",

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      uniqueTags.map((tag) => (
        <div>
          {tags.map((tag) => (
            <p>{tag}</p>
          ))}
        </div>
      ))
    }
  </ul>
</BaseLayout>
