---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<div class="hamburger2 hamburger-line-center"></div>

<style>
  .hamburger2 {
    position: relative;
    width: 30px;
    background-color: red;
    height: 2px; 
  }
  .hamburger2::before {
    content: "";
    width: 30px;
    background-color: red;
    height: 2px; 
    pos
  }   



</style>
