---

---

<!-- <button aria-label="open" class="hamburger-btn"> -->
<label for="hamburger-open">
  <input type="checkbox" class="hamburger-checkbox" id="hamburger-open" />

  <div class="hamburger"></div>
</label>


<style>
  label {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 21px;
  }
  .hamburger-checkbox {
    display: none;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    user-select: none;
    width: 30px;
    background-color: #ff9776;
    border-radius: 4px;
    height: 3px;
    position: relative;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    margin-top: 7px;
  }
  .hamburger::after {
    margin-top: 14px;
  }
</style>
