---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
</div>
<style>
  nav:has(.hamburger-checkbox:checked) > .nav-links {
    display: block;
  }
</style>
